*{
  box-sizing: border-box;
}
body {
  background-color:  hsl(40, 40%, 85%);
}
.App {
  text-align: center;
  flex-direction: column;
  margin-bottom: 1rem
}
.container{
background-color: hsl(0, 0%, 90%);
border-radius: 10px;
}
lable{
   display:block;
   font-size: larger;
   margin-top: 20%;
}
input{
  /* margin-trim: 2px; */
  width: 80%;
  padding:1em;
  border:1px solid #c4c8cc;
  margin-top: 1em;
}
button{
  display: inline-block;
  margin-left: 3px;
}

